<div class="modal-header">
  <h4 class="modal-title" id="modal-title">
    Add New Permission
  </h4>
  <button type="button" class="btn-close" aria-describedby="modal-title"
    (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col">
      <input type="text" class="form-control"  placeholder="Search Here .." [(ngModel)] = "newName">
    </div>
  </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" [disabled]="isDisabledSaveButton()" >
      Save
    </button>
</div>