.modifier{
    display: flex;
    height: 70px;
    background-color: aquamarine;
    justify-content: space-between;
}
.crud{
    display: inline-flex;
    height: 50px;
    background-color: white;
    justify-content: space-between;
    width: 180px;
}