<div *ngIf="isLoading; then thenBlock; else elseBlock"></div>
<ng-template #thenBlock>Loading...</ng-template>
<ng-template #elseBlock>
  <div *ngIf="status; then thenBlock; else elseBlock"></div>
  <ng-template #thenBlock>
    <div *ngIf="pgService.permissionsGroups.length == 0; then thenBlock; else elseBlock"></div>
    <button class="btn btn-outline-success me-2" (click)="openAdd()">
      <div>Add</div>
    </button>
    <!--  -->
    <ng-template #thenBlock>Empty Data</ng-template>
    <ng-template #elseBlock>
      <ng-template ngFor let-item [ngForOf]="pgService.permissionsGroups" let-c="index">
        <a class="group">
          {{ item.permission.permission_name }}
          <button class="btn btn-outline-primary me-2" (click)="open(item.permission.permission_name,item.permission_group_id)">
            <div>Delete</div>
          </button>
        </a>
      </ng-template>
    </ng-template>
  </ng-template>
  <ng-template #elseBlock>
   {{error}}
  </ng-template>
</ng-template>




